In [4]:
import pandas as pd

In [37]:
code=pd.read_csv('code.txt',sep='/', on_bad_lines='skip',header=None)
code=code.rename(columns={0:'lines'})

In [39]:
code.head(20)

                                  lines
0                   8import numpy as np
1                          9import math
2   10  import matplotlib.pyplot as plt
3                                    11
4                                    12
5                                    13
6                  14#problem constants
7                             15nu=1e-6
8                             16mu=1e-3
9                            17rho=1e+3
10                          18dt=0.0001
11                         19gradP=-2.4
12                           20n_iter=0
13                                21'''
14            22node generation section
15                                23'''
16                     24#domain length
17                                   25
18                           26Lx1=0.02
19                           27Lx2=0.01

In [26]:
code['lines'].apply(lambda x: )

                                           4
0                1   # -*- coding: utf-8 -*-
1                                    2   """
2    3   Created on Fri Feb 21 11:34:56 2020
3                                       4
4                     5   @author: Wazowskai
..                                       ...
209                     214   plt.colorbar()
210            215   plt.xlabel('$x_1$ (m)')
211            216   plt.ylabel('$x_2$ (m)')
212                         218   plt.show()
213                                   219

[214 rows x 1 columns]